1- writ a code to reverse a string

In [ ]:
def reverse_string(s):
    return s[::-1]

In [ ]:
string = "radar"
reversed_string = reverse_string(string)
print("Reversed string:", reversed_string)

Reversed string: AMRAHS IHSKAS

In [ ]:
Q2.write a code to count the number of vowels in a string

In [ ]:

string = "HELLO WORLD"
def count_vowels(s):
    vowels = "AEIOUaeiou"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
vowel_count = count_vowels(string)
print("Number of vowels:", vowel_count)

Number of vowels: 3

In [ ]:
3.write a code to check if a given string is a palindrome or not.

In [ ]:
def is_palindrome(s):
  #removes spaces and convert to lower spaces .
   s = s.replace(" ", "").lower()
   #checks whether the string. is equal t o reverse.
   return s == s[::-1]
   #for ex

string = "RADAR"
if is_palindrome(string):
    print(f'"{string}" is a palindrome.')
else:
    print(f'"{string}" is not a palindrome.')

"RADAR" is a palindrome.

In [ ]:
write a code to check if two given string are anograms of each other.

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "ELBOW"
string2 = "below"
if are_anagrams(string1, string2):
    print(f'"{string1}" and "{string2}" are anagrams.')
else:
    print(f'"{string1}" and "{string2}" are not anagrams.')

"ELBOW" and "below" are anagrams.

write a code to find all occurrences of a given substring within onother string.

In [ ]:
def find_substring_occurrences(main_str, sub_str):
    occurrences = []
    start = 0
    while start < len(main_str):
        # Find the next occurrence of the substring
        pos = main_str.find(sub_str, start)

        # If the substring is found, store the index
        if pos != -1:
            occurrences.append(pos)
            # Move start to the next character after the found occurrence
            start = pos + 1
        else:
            break
    return occurrences

# Example usage:
main_string = "JAJANTARAMMANTRAMJAJANTRAMAMANTRA"
substring = "JAJA"
occurrences = find_substring_occurrences(main_string, substring)
print(f'Occurrences of "{substring}" in "{main_string}": {occurrences}')

Occurrences of "JAJA" in "JAJANTARAMMANTRAMJAJANTRAMAMANTRA": [0, 17]

Write a code to perform basic string compression using the count of repeated charact

In [ ]:
def has_unique_chars(s):
    # Use a set to track characters seen so far
    char_set = set()

    for char in s:
        if char in char_set:
            return False  # Character is repeated
        char_set.add(char)

    return True  # All characters are unique

input_string = "ABCDEFGHIJKL"
if has_unique_chars(input_string):
    print(f'"{input_string}" has all unique characters.')
else:
    print(f'"{input_string}" does not have all unique characters.')

"ABCDEFGHIJKL" has all unique characters.

In [ ]:
Q9.Write a code to count the number of words in a string.

In [ ]:
def count_words(s):
    # Split the string by whitespace to get a list of words
    words = s.split()
    return len(words)

# Example usage:
input_string = "Hello, Today is a beautiful day ,tommorrow i am going to usa"
word_count = count_words(input_string)
print(f'Number of words: {word_count}')

Number of words: 12

In [ ]:
Write a code to convert a given string to uppercase or lowercase.

In [ ]:
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()  # Convert to uppercase
    else:
        return s.lower()  # Convert to lowercase

# Example usage:
input_string = "Pw Skills!"

# Convert to uppercase
uppercase_string = convert_case(input_string, to_upper=True)
print(f'Uppercase: {uppercase_string}')

# Convert to lowercase
lowercase_string = convert_case(input_string, to_upper=False)
print(f'Lowercase: {lowercase_string}')

Uppercase: PW SKILLS!
Lowercase: pw skills!

[Q9.Write a code to count the number of words in a string

In [ ]:
def count_words(text):
  """Counts the number of words in a string.

  Args:
    text: The string to count words in.

  Returns:
    The number of words in the string.
  """
  return len(text.split())

# Example usage:
string = "This is a good platform for dat analytics"
word_count = count_words(string)
print(f"The string has {word_count} words.")

The string has 8 words.

Q10.Write a code to concatenate two string without using the + operator.

In [ ]:
def concatenate_strings(str1,str2):
   # Use the join method to concatenate the two strings
          return ''.join([str1, str2])

#example usage
string1 = "helo"
string2 ="Duniya"
result = concatenate_strings(string1,string2)
print(result)

heloDuniya

In [ ]:
 11-Write a code to remove all occurrences of a specific element from a list

In [ ]:
def remove_element(list,element):
# Use list as element
    while element in list:
        list.remove(element)
        return list
        list = [1,2,2,3,4,5]
        element=2
        new_list=list
        new_list = remove_element(list,element)
        printf(new_list)

In [ ]:
12-Implement a code to find the second largest number in a givenlist of integers.

In [ ]:
def find_second_largest(lst):
    if len(lst) < 2:
        raise ValueError("List must contain at least two elements")

    first = second = float('-inf')

    for num in lst:
        if num > first:
            second = first
            first = num
        elif first > num > second:
            second = num

    if second == float('-inf'):
        raise ValueError("There is no second largest element")

    return second

# Example usage:
my_list = [10, 20, 4, 45, 99, 99, 45]
second_largest = find_second_largest(my_list)
print(f'Second largest number: {second_largest}')

13-Create a code to count the occuurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

> Add blockquote

In [ ]:
def count_occurrences(lst):
    # Create an empty dictionary to store counts
    count_dict = {}

    # Iterate through the list and count occurrences
    for item in lst:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1

    return count_dict

# Example usage:
my_list = [1, 2, 2, 3, 4, 4, 4, 5]
occurrences = count_occurrences(my_list)
print('Occurrences:', occurrences)

Occurrences: {1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

In [ ]:
Q14.Write a code to reverse a list in-place without using any built-in reverse function.

In [ ]:
def reverse_list(lst):
    start = 0
    end = len(lst) - 1
    while start < end:
        # Swap elements at the left and right indices
        lst[start], lst[end] = lst[end], lst[start]
        # Move towards the center
        start += 1
        end -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

Q15.Implement a code to find and remove duplicate from a list while preserving the original oreder ofelements.

In [ ]:
def remove_duplicates(lst):
    unique = []  # List to store unique elements
    for item in lst:
        if item not in unique:
            unique.append(item)  # Add item if it's not already in the unique list
    return unique  # Return the unique list after the loop

# Example usage:
my_list = [1, 2, 2, 3, 4, 4, 5, 1]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

In [ ]:
Q16.Create a code to check if a given list is sorted (either in ascending or decending order) or not.

In [ ]:
def is_sorted(lst):

    # Check if the list is sorted in ascending order
    if lst == sorted(lst):
        return True, "Ascending"
    # Check if the list is sorted in descending order
    elif lst == sorted(lst, reverse=True):
        return True, "Descending"
    else:
        return False, "Not sorted"

# Example usage:
my_list1 = [9,8,7,6,5,4,3,2,1]
my_list2 = [1,2,3,4,5,6,7,8,9]
my_list3 = [1, 3, 2, 4]

print(is_sorted(my_list1))  # Output: (True, "Ascending")
print(is_sorted(my_list2))  # Output: (True, "Descending")
print(is_sorted(my_list3))  # Output: (False, "Not sorted")

(True, 'Descending')
(True, 'Ascending')
(False, 'Not sorted')

In [ ]:
Q17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
  # Create an empty list to store the merged result
  merged_list = []  # Initialize an empty list to hold the merged result
    i, j = 0, 0  # Initialize pointers for both lists

    # Loop until we reach the end of either list
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:  # Compare elements from both lists
            merged_list.append(list1[i])  # Add the smaller element to the merged list
            i += 1  # Move the pointer in list1
        else:
            merged_list.append(list2[j])  # Add the smaller element to the merged list
            j += 1  # Move the pointer in list2

    # Add any remaining elements from list1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Add any remaining elements from list2
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list  # Return the merged sorted list

# Example usage:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8]

IndentationError: unexpected indent (<ipython-input-20-9256e5e5aad6>, line 4)

In [ ]:
Q18.Implement a code to find the intersection of two given list.

In [ ]:
def intersect_lists(list1, list2):
    # Convert both lists to sets
    set1 = set(list1)
    set2 = set(list2)

    # Find the intersection of both sets
    intersection = set1 & set2

    # Convert the result back to a list (optional, depending on the desired output)
    return list(intersection)

# Example usage
list1 = [1, 2, 3, 4, 5,8]
list2 = [3, 4, 5, 6, 7,8]
intersection = intersect_lists(list1, list2)
print(intersection)

[8, 3, 4, 5]

In [ ]:
19.create a code to find the union of two lists without duplicates.

In [ ]:
def union_of_lists(list1, list2):
    # Use a set to automatically handle duplicates
    union_set = set(list1) | set(list2)

    # Convert the set back to a list
    union_list = list(union_set)

    return union_list

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = union_of_lists(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
20-write a code to shuffle a given list randomly without using any built-in shuffle function.

In [ ]:
import random

def shuffle_list(lst):
    # Traverse the list from the last element to the second element
    for i in range(len(lst) - 1, 0, -1):
        # Generate a random index from 0 to i
        j = random.randint(0, i)
        # Swap the elements at indices i and j
        lst[i], lst[j] = lst[j], lst[i]

# Example usage
my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)  # Output will be a randomly shuffled list

In [ ]:
list(map(lambda x:x**2,[1,2,3,4,5])

In [ ]:
Q21.Write a code that takes two tuples as input and returns anew tuples contaning elements that are common to both input tuples.

In [ ]:
def intersect_tuples(tuple1, tuple2):
    # Convert tuples to sets to find the intersection
    set1 = set(tuple1)
    set2 = set(tuple2)

    # Find the intersection of both sets
    intersection = set1 & set2

    # Convert the result back to a tuple
    return tuple(intersection)

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements = intersect_tuples(tuple1, tuple2)
print(common_elements)  # Output: (4, 5)

Q22.Create a code that prompts the user to enter two sets of integers separated by commas. then, print the intersection of these two sets.

In [ ]:
def get_set_from_input(prompt):
    # Prompt user for input
    input_str = input(prompt)
    # Convert the input string to a list of integers
    try:
        # Convert the comma-separated string to a list of integers
        integer_list = [int(x.strip()) for x in input_str.split(',')]
        # Convert the list to a set
        return set(integer_list)
    except ValueError:
        print("Invalid input. Please enter integers separated by commas.")
        return get_set_from_input(prompt)

def main():
    # Get two sets from user input
    set1 = get_set_from_input("Enter the first set of integers separated by commas: ")
    set2 = get_set_from_input("Enter the second set of integers separated by commas: ")

    # Find the intersection of the two sets
    intersection = set1 & set2

    # Print the result
    print("The intersection of the two sets is:", intersection)

if __name__ == "__main__":
    main()

Q23.Write a code to contenatenate two tuples. the function should take two tuples as input and return a new tuple containing element from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    result_tuple = tuple1 + tuple2
    return result_tuple

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)  # Output: (1, 2, 3, 4, 5, 6)

Q24.Develop a code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but non in the second set.

In [ ]:
def get_set_from_input(prompt):
    # Prompt user for input
    input_str = input(prompt)
    # Convert the input string to a set of strings
    # Split by commas and strip any extra spaces
    string_set = {s.strip() for s in input_str.split(',')}
    return string_set

def main():
    # Get two sets of strings from user input
    set1 = get_set_from_input("Enter the first set of strings separated by commas: ")
    set2 = get_set_from_input("Enter the second set of strings separated by commas: ")

    # Find elements in set1 but not in set2
    difference = set1 - set2

    # Print the result
    print("Elements in the first set but not in the second set are:", difference)

if __name__ == "__main__":
    main()

Create a code that takes a tuple and two integers as input. the function should return a new tuple containing elements from the original tuple within the specified range of indices

In [ ]:
def slice_tuple(original_tuple, start_index, end_index):
    # Validate indices
    if not (0 <= start_index < len(original_tuple)) or not (0 <= end_index <= len(original_tuple)):
        raise ValueError("Indices are out of range")

    # Return the sliced tuple
    return original_tuple[start_index:end_index]

# Example usage
original_tuple = (10, 20, 30, 40, 50, 60, 70)
start_index = 2
end_index = 5
result = slice_tuple(original_tuple, start_index, end_index)
print(result)  # Output: (30, 40, 50)

Q26.write a code that prompts the user to input two sets of characters. Then ,print the union of these two sets.

In [ ]:
def get_set_from_input(prompt):
    # Prompt user for input
    input_str = input(prompt)
    # Convert the input string to a set of characters
    # Split by commas and strip any extra spaces
    char_set = {c.strip() for c in input_str.split(',')}
    return char_set

def main():
    # Get two sets of characters from user input
    set1 = get_set_from_input("Enter the first set of characters separated by commas: ")
    set2 = get_set_from_input("Enter the second set of characters separated by commas: ")

    # Find the union of the two sets
    union = set1 | set2

    # Print the result
    print("The union of the two sets is:", union)

if __name__ == "__main__":
    main()

Q27.Develop a code that takes tuple of integers as input. The function should return the maximum and munimum values from the tiple using tuple unpacking.

In [ ]:
def find_max_min(values):
    # Ensure the input is not empty
    if not values:
        raise ValueError("The tuple is empty. Cannot determine max and min values.")

    # Find maximum and minimum values
    max_value = max(values)
    min_value = min(values)

    # Return the maximum and minimum values as a tuple
    return max_value, min_value

# Example usage
input_tuple = (10, 20, 30, 40, 50)
max_value, min_value = find_max_min(input_tuple)
print("Maximum value:", max_value)  # Output: Maximum value: 50
print("Minimum value:", min_value)  # Output: Minimum value: 10

Q28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [ ]:
def set_operations(set1, set2):
    # Calculate union
    union = set1 | set2

    # Calculate intersection
    intersection = set1 & set2

    # Calculate difference (elements in set1 but not in set2)
    difference = set1 - set2

    # Print results
    print("Union of the two sets:", union)
    print("Intersection of the two sets:", intersection)
    print("Difference of the two sets (set1 - set2):", difference)

# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Perform set operations
set_operations(set1, set2)

Q29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_occurrences(tpl, element):
    return tpl.count(element)

# Example usage:
my_tuple = (1, 2, 3, 2, 2, 4)
element_to_count = 2
print(count_occurrences(my_tuple, element_to_count))

Q30.Develop a code that prompts the user to input two sets of strings.Then, print the symmetric difference of these two sets.

In [ ]:
def get_set_from_input(prompt):
    user_input = input(prompt)
    # Split the input by commas and strip whitespace
    return set(map(str.strip, user_input.split(',')))

# Get the sets from the user
set1 = get_set_from_input("Enter the first set of strings (comma-separated): ")
set2 = get_set_from_input("Enter the second set of strings (comma-separated): ")

# Calculate the symmetric difference
symmetric_diff = set1.symmetric_difference(set2)

# Print the result
print("Symmetric difference:", symmetric_diff)

Q31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the frequencies of those words in the input list.

In [ ]:
def word_frequencies(words):
    # Create an empty dictionary to store the frequencies
    frequency_dict = {}

    # Iterate over each word in the list
    for word in words:
        # If the word is already in the dictionary, increment its count
        if word in frequency_dict:
            frequency_dict[word] += 1
        # If the word is not in the dictionary, add it with a count of 1
        else:
            frequency_dict[word] = 1

    return frequency_dict

# Example usage:
words_list = input("Enter a list of words (comma-separated): ").split(',')
words_list = [word.strip() for word in words_list]  # Strip any extra spaces
frequencies = word_frequencies(words_list)
print("Word frequencies:", frequencies)

Enter a list of words (comma-separated): what is going on,in the party
Word frequencies: {'what is going on': 1, 'in the party': 1}

In [ ]:
Q32.Write a code that takes two dictionaries as input and merges them into a single dictionary. if there are common keys, the values should be added together.

In [ ]:
def merge_dicts(dict1, dict2):
    # Create a new dictionary to store the merged results
    merged_dict = dict1.copy()  # Start with a copy of dict1

    # Iterate over the second dictionary
    for key, value in dict2.items():
        if key in merged_dict:
            # If the key exists in both dictionaries, add the values
            merged_dict[key] += value
        else:
            # Otherwise, add the new key-value pair
            merged_dict[key] = value

    return merged_dict

# Example usage
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

result = merge_dicts(dict1, dict2)
print(result)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [ ]:
Q33. write a code to access a value in a nested dictionary. The function sholud take the dictonary and a list of keys as input, and return the corresponding value. i any of the keys do not exist in the dictionary, the function should return None.

In [ ]:
def get_nested_value(d, keys):
    """
    Access a value in a nested dictionary using a list of keys.

    :param d: The dictionary to search.
    :param keys: A list of keys representing the path to the desired value.
    :return: The value corresponding to the path, or None if any key is not found.
    """
    current_value = d
    for key in keys:
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]
        else:
            return None
    return current_value

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 10
        }
    }
}
keys = ['a', 'b', 'c']
result = get_nested_value(nested_dict, keys)
print(result)  # Output: 10

# Testing a key that doesn't exist
keys_invalid = ['a', 'b', 'd']
result_invalid = get_nested_value(nested_dict, keys_invalid)
print(result_invalid)  # Output: None

10
None

In [ ]:
Q34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. you can choose whether to sort in ascending or descending order.

In [ ]:
def sort_dict_by_values(d, descending=False):
    """
    Sort a dictionary by its values.

    :param d: The dictionary to be sorted.
    :param descending: Whether to sort in descending order. Default is False (ascending).
    :return: A new dictionary sorted by values.
    """
    # Sort the dictionary items based on values and return a new dictionary
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=descending))
    return sorted_dict

# Example usage
my_dict = {'a': 3, 'b': 1, 'c': 2}

# Sorting in ascending order
sorted_dict_asc = sort_dict_by_values(my_dict)
print("Ascending:", sorted_dict_asc)  # Output: {'b': 1, 'c': 2, 'a': 3}

# Sorting in descending order
sorted_dict_desc = sort_dict_by_values(my_dict, descending=True)
print("Descending:", sorted_dict_desc)  # Output: {'a': 3, 'c': 2, 'b': 1}

Ascending: {'b': 1, 'c': 2, 'a': 3}
Descending: {'a': 3, 'c': 2, 'b': 1}

Q35.Write a code that inverts a dictionary,swapping keys and values.ensure that the inverted dictionary correctly handle cases where multiple keys have the same values by sorting the keys as a list in the inverted dictionary

In [ ]:
def invert_dict(d):
    """
    Invert a dictionary, swapping keys and values.
    If multiple keys have the same value, store the keys in a sorted list.

    :param d: The dictionary to be inverted.
    :return: The inverted dictionary.
    """
    inverted_dict = {}

    for key, value in d.items():
        if value in inverted_dict:
            # If the value is already a key in the inverted dictionary
            if isinstance(inverted_dict[value], list):
                inverted_dict[value].append(key)
                inverted_dict[value].sort()  # Ensure the list is sorted
            else:
                # Convert existing single key to a list and add the new key
                inverted_dict[value] = sorted([inverted_dict[value], key])
        else:
            # If the value is not yet a key in the inverted dictionary
            inverted_dict[value] = key

    return inverted_dict

# Example usage
original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted_dict = invert_dict(original_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: 'b', 3: 'd'}